<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Rediriger tout le trafic vers index.php sauf si le fichier/dossier existe physiquement
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
