// =========================================================
// 🔔 COMPONENT ALERTS (Messages Confirmation & Erreurs)
// =========================================================

.alert-quai-success {
    background-color: #d1e7dd;
    border-left: 4px solid #0f5132;
    color: #0f5132;
}

.alert-quai-danger {
    background-color: #f8d7da;
    border-left: 4px solid #842029;
    color: #842029;
}